# For Loop

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [10]:
# For Reverse counting
for i in range(10,0,-1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [117]:
for i in range(1,10,2):
    print(i, end=' ')
print("\n")    
for i in range(10):
    print(i, end=' ')
    #print("   ")

1 3 5 7 9

0 1 2 3 4 5 6 7 8 9

In [48]:
for i in range(1,100):
    if i%7 ==0:
        break
    print(i)

1
2
3
4
5
6

In [116]:
even =[]
odd =[]
for i in range(1,50):
    if i%2==0:
        even.append(i)
    #elif i%5 ==0:
     #       break
    elif i%2==1:
        odd.append(i)
    #elif i%3 ==0:
     #       break    
print("This is list of Even No =",even)
print("This is list of Odd No =",odd)

This is list of Even No = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
This is list of Odd No = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [113]:
even =[]
odd =[]
for i in range(1,100):
    if i%2==0:
        even.append(i)
    elif i%5 ==0:
            break
    elif i%2 >0:
        odd.append(i)
    elif i%3 ==0:
            break    
print("This is list of Even No =",even)
print("This is list of Odd No =",odd)

This is list of Even No = [2, 4]
This is list of Odd No = [1, 3]

In [125]:
evens = []
odds = []
for a in range (100):
    if (a%2==0):
        evens.append(a)
        if (a%5!=0):
            evens.append(a)
    elif a%5!=0:
        odds.append(a)
print(evens)
print(odds)

[0, 2, 2, 4, 4, 6, 6, 8, 8, 10, 12, 12, 14, 14, 16, 16, 18, 18, 20, 22, 22, 24, 24, 26, 26, 28, 28, 30, 32, 32, 34, 34, 36, 36, 38, 38, 40, 42, 42, 44, 44, 46, 46, 48, 48, 50, 52, 52, 54, 54, 56, 56, 58, 58, 60, 62, 62, 64, 64, 66, 66, 68, 68, 70, 72, 72, 74, 74, 76, 76, 78, 78, 80, 82, 82, 84, 84, 86, 86, 88, 88, 90, 92, 92, 94, 94, 96, 96, 98, 98]
[1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39, 41, 43, 47, 49, 51, 53, 57, 59, 61, 63, 67, 69, 71, 73, 77, 79, 81, 83, 87, 89, 91, 93, 97, 99]

In [133]:
for a in range (1,10):
    if a==4:
        continue
    elif a==9:
        break
    print(a)

1
2
3
5
6
7
8

In [135]:
list007 = ['rashid', 'asfand','ibad','shahid']
for name in list007:
    print(f"khushamdeed janaab. {name}" )

khushamdeed janaab. rashid
khushamdeed janaab. asfand
khushamdeed janaab. ibad
khushamdeed janaab. shahid

In [149]:

names = (input("enter name:" ))
for a in (names) :

enter name:bil
b
i
l

In [153]:
guest_list=[]
for a in range(10):
    guest_name = input("enter the name of guest:")
    if guest_name=="furqan" :
         break
    else :
        guest_list.append(guest_name)
print(guest_list)

enter the name of guest:bil
enter the name of guest:shah
enter the name of guest:jabb
enter the name of guest:ramm
enter the name of guest:bagg
enter the name of guest:ott
enter the name of guest:lilly
enter the name of guest:shilly
enter the name of guest:philly
enter the name of guest:billy
['bil', 'shah', 'jabb', 'ramm', 'bagg', 'ott', 'lilly', 'shilly', 'philly', 'billy']

In [156]:
guest_list=[]
for a in range(10):
    guest_name = input("enter the name of guest:")
    if guest_name=="furqan" or 'aslam' in guest_list:
         break
    else :
        guest_list.append(guest_name)
print(guest_list)

enter the name of guest:shahid
enter the name of guest:asalm
enter the name of guest:aslam
enter the name of guest:furqan
['shahid', 'asalm', 'aslam']

In [157]:
'rameek' in guest_list

False

In [168]:
guest_list=[]
for a in range(3):
    guest_name = input("enter the name of guest:")
    if guest_name=="furqan" or 'aslam' in guest_list:
         break
    elif guest_name=="Asim Riaz":
        guest_list.remove()
    else :
        guest_list.append(guest_name)
print(guest_list)

enter the name of guest:bilal
enter the name of guest:shahid
enter the name of guest:Asim Riaz

TypeError: list.remove() takes exactly one argument (0 given)